@model MyPortalAgency.Areas.Administrator.Models.PageContentViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Delete";
}


<section class="card mb-4">
    <form id="login-form" asp-controller="OurCompany" asp-action="Delete" method="post" role="form"
          data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#formData"
          data-ajax-failure="failed" data-ajax-complete="completed">
        <input type="hidden" name="Id" id="Id" value="@Model.Id" />
        <input type="hidden" name="Page" id="Page" value="@Model.Page" />
        <section class="card card-featured-right card-featured-primary mb-4">
            <div class="card-body">
                <div class="widget-summary">
                    <div class="widget-summary-col widget-summary-col-icon">
                        <div class="">
                            @if (Model.Logo.StartsWith("data"))
                            {
                                <img src="@Model.Logo" class="rounded-circle" style="height: 150px;width: 170px;">
                            }
                            else
                            {
                                <i class="@Model.Logo"></i>
                            }
                        </div>
                    </div>
                    <div class="widget-summary-col">
                        <div class="summary">
                            <h4 class="title">@Model.Title</h4>
                            <div class="info">
                                <strong class="amount">@Model.Description</strong>
                            </div>
                        </div>
                        <div class="summary-footer" style=" margin-top: 10%; ">
                            Are you sure you want to permanently delete this current item?<br />
                            <input type="submit" id="submit" value="submit" class="btn btn-primary float-right" data-loading-text="Loading..." style=" margin: 10px 14px; ">
                            <a asp-controller="OurCompany"  asp-action="@Model.Page"  class="btn btn-info float-right" data-loading-text="Loading..." style=" margin: 10px 14px; ">Back</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </form>

</section>