@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model MyPortalAgency.Areas.Administrator.Models.PageViewModel

@{
    ViewData["Title"] = "AboutUs";
}



<ul class="simple-bullet-list mb-3">
    <li class="orange">
        <span class="title">General</span>
    </li>
</ul>

<div class="row">
    <div class="col-lg-12">
        <form id="login-form" asp-controller="OurCompany" asp-action="EditPage" method="post" role="form"
              data-ajax="true" data-ajax-method="POST" data-ajax-mode="replace" data-ajax-update="#formData"
              data-ajax-failure="failed" data-ajax-complete="completed">
            <section class="card">
                <div class="card-body">
                    @Html.AntiForgeryToken()
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" id="Id" name="Id" value="@Model.Id" class="form-control">
                    <input type="hidden" id="Type" name="Type" value="Portfilio" class="form-control">

                    <div class="form-group row">
                        <label asp-for="Title" class="col-sm-4 control-label text-sm-left  pt-2">Your Title:</label>
                        <div class="col-sm-8">
                            <input asp-for="Title" type="text" id="Title" name="Title" value="@Model.Title" class="form-control">
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="Description" class="col-sm-4 control-label text-sm-left  pt-2">Your Description:</label>
                        <div class="col-sm-8">
                            <textarea asp-for="Description" id="Description" name="Description" class="form-control">@Model.Description</textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <footer class="card-footer text-right">
                    <input type="submit" name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-primary" value="Submit">

                </footer>
            </section>
        </form>
    </div>
</div>

<hr />


<ul class="simple-bullet-list mb-3">

    <li class="green">
        <span class="title"> OurPortfolios</span>
        <span class="description truncate text-right"><a asp-controller="OurCompany" asp-action="Create" asp-route-id="03F17127-5270-4067-9F5E-0C4B798BE221" asp-route-Type="OurJobs" asp-route-Page="AboutUs" class="mb-1 mt-1 mr-1 btn btn-default">Add</a></span>
    </li>
</ul>


<div class="row">
    @{
        var OurPortfolios = Model.PageContentViewModel.Where(x => x.Type == "OurPortfolios").ToList();
        foreach (var item in OurPortfolios)
        {
            <div class="col-lg-12 col-xl-6">
                <section class="card card-horizontal mb-4">
                    <header class="card-header bg-primary">
                        <div class="">
                            `
                            @if (item.Logo.StartsWith("data"))
                            {
                                <img src="@item.Logo" class="rounded-circle" style="height: 180px;width: 220px;">
                            }
                            else
                            {
                                <i class="@item.Logo"></i>
                            }
                        </div>
                    </header>
                    <div class="card-body p-4">
                        <h3 class="font-weight-semibold mt-3">@item.Title</h3>
                        <p>@item.Description</p>
                        <hr>
                        <div class="summary-footer  text-right " style="">
                            <a asp-controller="OurCompany" asp-action="Edit" asp-route-id="@item.Id" asp-route-Page="OurStory" type="button" class="mb-1 mt-1 mr-1 btn btn-warning"><i class="fa fa-edit"></i></a>
                            <a asp-controller="OurCompany" asp-action="delete" type="button" asp-route-id="@item.Id" asp-route-Page="OurStory" class="mb-1 mt-1 mr-1 btn btn-danger"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </section>
            </div>

        }
    }
</div>


