@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}
<!doctype html>
<html class="fixed">
<head>

    <!-- Basic -->
    <meta charset="UTF-8">

    <title>Blank Page | Porto Admin - Responsive HTML5 Template 2.1.1</title>
    <meta name="keywords" content="HTML5 Admin Template">
    <meta name="description" content="Porto Admin - Responsive HTML5 Template">
    <meta name="author" content="okler.net">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/css/Style.min.css" />
    @RenderSection("Styles", required: false)

    @*<environment include="Development">
            <!-- Vendor CSS -->
            <link rel="stylesheet" href="~/portal/vendor\bootstrap\css\bootstrap.css">
            <link rel="stylesheet" href="~/portal/vendor\animate\animate.css">

            <link rel="stylesheet" href="~/portal/vendor\font-awesome\css\fontawesome-all.min.css">
            <link rel="stylesheet" href="~/portal/vendor\magnific-popup\magnific-popup.css">
            <link rel="stylesheet" href="~/portal/vendor\bootstrap-datepicker\css\bootstrap-datepicker3.css">

            <!-- Theme CSS -->
            <link rel="stylesheet" href="~/portal/css\theme.css">

            <!-- Theme Custom CSS -->
            <link rel="stylesheet" href="~/portal/css\custom.css">
        </environment>

        <environment exclude="Development">
            <link rel="stylesheet" href="~/css/Style.min.css" />
        </environment>*@
    <style>
        .sidebar-widget.widget-tasks ul li:before {
            border: 5px solid transparent;
        }

        .sidebar-widget.widget-tasks ul li a {
            padding: 10px 0 10px 34px;
        }
    </style>
    <!-- Head Libs -->
    <script src="~/portal/vendor\modernizr\modernizr.js"></script>
    <script>
        let b64DecodeUnicode = str =>
            decodeURIComponent(
                Array.prototype.map.call(atob(str), c =>
                    '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2)
                ).join(''))

        let parseJwt = token =>
            JSON.parse(
                b64DecodeUnicode(
                    token.split('.')[1].replace('-', '+').replace('_', '/')
                )
            )

        function login() {
            var storedToken = localStorage.getItem('token');
            if (storedToken === null) {
                window.location.href = 'Account';
            } else {
                var parsedToken = parseJwt(localStorage.getItem("token"));
                var expireyTime = parsedToken.exp;
                var timeStamp = Math.floor(Date.now() / 1000);
                var difference = expireyTime - timeStamp;
                if (difference <= 0) {
                    window.location.href = 'Account';
                }
            }
           }
    </script>
</head>
<body onload="login()">
    <section class="body">

        <!-- start: header -->
        @(await Html.PartialAsync("_header"))

        <!-- end: header -->

        <div class="inner-wrapper">
            <!-- start: sidebar -->
            @(await Html.PartialAsync("_sidebar"))
            <!-- end: sidebar -->

            <section role="main" class="content-body">
                <header class="page-header">
                    <h2>@ViewData["Title"]</h2>

                    <div class="right-wrapper text-right">
                        <ol class="breadcrumbs">
                            <li>
                                <a href="~/portal/index-1.html">
                                    <i class="fas fa-home"></i>
                                </a>
                            </li>
                            <li><span>Pages</span></li>
                            <li><span>Blank Page</span></li>
                        </ol>

                        <a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fas fa-chevron-left"></i></a>
                    </div>
                </header>

                <!-- start: page -->
                @RenderBody()
                <!-- end: page -->
            </section>
        </div>

        <aside id="sidebar-right" class="sidebar-right">
            <div class="nano">
                <div class="nano-content">
                    <a href="~/portal/#" class="mobile-close d-md-none">
                        Collapse <i class="fas fa-chevron-right"></i>
                    </a>

                    <div class="sidebar-right-wrapper">

                        <div class="sidebar-widget widget-calendar">
                            <h6>Upcoming Tasks</h6>
                            <div data-plugin-datepicker="" data-plugin-skin="dark"></div>

                            <ul>
                                <li>
                                    <time datetime="2017-04-19T00:00+00:00">04/19/2017</time>
                                    <span>Company Meeting</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </aside>
    </section>



    @*<environment include="Development">
            <!-- Vendor -->
            <script src="~/portal/vendor\jquery\jquery.js"></script>
            <script src="~/portal/vendor\jquery-browser-mobile\jquery.browser.mobile.js"></script>
            <script src="~/portal/vendor\jquery-cookie\jquery-cookie.js"></script>
            <script src="~/portal/vendor\popper\umd\popper.min.js"></script>
            <script src="~/portal/vendor\bootstrap\js\bootstrap.js"></script>
            <script src="~/portal/vendor\bootstrap-datepicker\js\bootstrap-datepicker.js"></script>
            <script src="~/portal/vendor\common\common.js"></script>
            <script src="~/portal/vendor\nanoscroller\nanoscroller.js"></script>
            <script src="~/portal/vendor\magnific-popup\jquery.magnific-popup.js"></script>
            <script src="~/portal/vendor\jquery-placeholder\jquery-placeholder.js"></script>

            <!-- Theme Base, Components and Settings -->
            <script src="~/portal/js\theme.js"></script>

            <!-- Theme Custom -->
            <script src="~/portal/js\custom.js"></script>

            <!-- Theme Initialization Files -->
            <script src="~/portal/js\theme.init.js"></script>
        </environment>

        <environment exclude="Development">
            <script type="text/javascript" src="~/javascript/Script.min.js"></script>
        </environment>*@
    <script type="text/javascript" src="~/javascript/Script.min.js"></script>
    <script src="~/portal/js\theme.init.js"></script>
    <script src="~/javascript/Function.js"></script>
    <script src="~/javascript/Function_Admin.js"></script>

    @RenderSection("Scripts", required: false)

</body>
</html>